<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <center>
           <h1> name = {{name}} , age = {{age}} </h1>
        <h1>if condition for zinja opartion</h1>
        {% if age > 18 %}
            <h1>ur eligible to vote</h1>
        {% endif %}
       <h1> ------------------------> </h1>
       <h2>if else condition in zinja opartion</h2>
        {% if age < 18 %}
            <h1>you are eligible to marriage</h1>
        {% else %}
            <h1>you are not eligibile</h1>
        {% endif %}
        </center>
    
</body>
</html>